@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  html {
    @apply bg-black text-white;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  --font-bricolage: var(--font-bricolage);
  --font-merriweather: var(--font-merriweather);
  --font-instrument-serif: var(--font-instrument-serif);
  --font-playfair: var(--font-playfair);
}

body {
  background: var(--background);
  color: var(--foreground);
}